name: Deploy to Azure VM

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH key
        run: |
          echo "${{ secrets.PROD_VM_SSH_KEY }}" > vm_key.pem
          chmod 600 vm_key.pem

      - name: Deploy on Azure VM
        run: |
          ssh -o StrictHostKeyChecking=no -i vm_key.pem ${{ secrets.PROD_VM_USER }}@${{ secrets.PROD_VM_HOST }} "
            cd sda-demo;
            git pull origin main;
            cd deployment;
            docker compose -f compose.yml --env-file .env pull;
            docker compose -f compose.yml --env-file .env up -d --build
          "
